MatrixCalculatorClient/src/java/META-INF/MatrixCalculatorWSImplService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.matrix.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.matrix.pl/" name="MatrixCalculatorWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.matrix.pl/" schemaLocation="http://kw-lap:8080/MatrixCalculator/MatrixCalculatorWSImplService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://kw-lap:8080/MatrixCalculator/MatrixCalculatorWSImplService?xsd=2"/>
</xsd:schema>
</types>
<message name="calculateEigenValues">
<part name="parameters" element="tns:calculateEigenValues"/>
</message>
<message name="calculateEigenValuesResponse">
<part name="parameters" element="tns:calculateEigenValuesResponse"/>
</message>
<message name="calculateDeterminant">
<part name="parameters" element="tns:calculateDeterminant"/>
</message>
<message name="calculateDeterminantResponse">
<part name="parameters" element="tns:calculateDeterminantResponse"/>
</message>
<message name="transformToTriangularUpperMatrix">
<part name="parameters" element="tns:transformToTriangularUpperMatrix"/>
</message>
<message name="transformToTriangularUpperMatrixResponse">
<part name="parameters" element="tns:transformToTriangularUpperMatrixResponse"/>
</message>
<message name="calculateLUDecomposition">
<part name="parameters" element="tns:calculateLUDecomposition"/>
</message>
<message name="calculateLUDecompositionResponse">
<part name="parameters" element="tns:calculateLUDecompositionResponse"/>
</message>
<message name="solveLinearEquation">
<part name="parameters" element="tns:solveLinearEquation"/>
</message>
<message name="solveLinearEquationResponse">
<part name="parameters" element="tns:solveLinearEquationResponse"/>
</message>
<message name="transposeMatrix">
<part name="parameters" element="tns:transposeMatrix"/>
</message>
<message name="transposeMatrixResponse">
<part name="parameters" element="tns:transposeMatrixResponse"/>
</message>
<message name="multiplyMatrices">
<part name="parameters" element="tns:multiplyMatrices"/>
</message>
<message name="multiplyMatricesResponse">
<part name="parameters" element="tns:multiplyMatricesResponse"/>
</message>
<message name="calculateTrace">
<part name="parameters" element="tns:calculateTrace"/>
</message>
<message name="calculateTraceResponse">
<part name="parameters" element="tns:calculateTraceResponse"/>
</message>
<message name="multiplyByScalar">
<part name="parameters" element="tns:multiplyByScalar"/>
</message>
<message name="multiplyByScalarResponse">
<part name="parameters" element="tns:multiplyByScalarResponse"/>
</message>
<message name="sampleMatrix">
<part name="parameters" element="tns:sampleMatrix"/>
</message>
<message name="sampleMatrixResponse">
<part name="parameters" element="tns:sampleMatrixResponse"/>
</message>
<message name="addMatrices">
<part name="parameters" element="tns:addMatrices"/>
</message>
<message name="addMatricesResponse">
<part name="parameters" element="tns:addMatricesResponse"/>
</message>
<portType name="MatrixCalculatorWS">
<operation name="calculateEigenValues">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateEigenValuesRequest" message="tns:calculateEigenValues"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateEigenValuesResponse" message="tns:calculateEigenValuesResponse"/>
</operation>
<operation name="calculateDeterminant">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateDeterminantRequest" message="tns:calculateDeterminant"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateDeterminantResponse" message="tns:calculateDeterminantResponse"/>
</operation>
<operation name="transformToTriangularUpperMatrix">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/transformToTriangularUpperMatrixRequest" message="tns:transformToTriangularUpperMatrix"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/transformToTriangularUpperMatrixResponse" message="tns:transformToTriangularUpperMatrixResponse"/>
</operation>
<operation name="calculateLUDecomposition">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateLUDecompositionRequest" message="tns:calculateLUDecomposition"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateLUDecompositionResponse" message="tns:calculateLUDecompositionResponse"/>
</operation>
<operation name="solveLinearEquation">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/solveLinearEquationRequest" message="tns:solveLinearEquation"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/solveLinearEquationResponse" message="tns:solveLinearEquationResponse"/>
</operation>
<operation name="transposeMatrix">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/transposeMatrixRequest" message="tns:transposeMatrix"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/transposeMatrixResponse" message="tns:transposeMatrixResponse"/>
</operation>
<operation name="multiplyMatrices">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/multiplyMatricesRequest" message="tns:multiplyMatrices"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/multiplyMatricesResponse" message="tns:multiplyMatricesResponse"/>
</operation>
<operation name="calculateTrace">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateTraceRequest" message="tns:calculateTrace"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/calculateTraceResponse" message="tns:calculateTraceResponse"/>
</operation>
<operation name="multiplyByScalar">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/multiplyByScalarRequest" message="tns:multiplyByScalar"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/multiplyByScalarResponse" message="tns:multiplyByScalarResponse"/>
</operation>
<operation name="sampleMatrix">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/sampleMatrixRequest" message="tns:sampleMatrix"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/sampleMatrixResponse" message="tns:sampleMatrixResponse"/>
</operation>
<operation name="addMatrices">
<input wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/addMatricesRequest" message="tns:addMatrices"/>
<output wsam:Action="http://ws.matrix.pl/MatrixCalculatorWS/addMatricesResponse" message="tns:addMatricesResponse"/>
</operation>
</portType>
<binding name="MatrixCalculatorWSImplPortBinding" type="tns:MatrixCalculatorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="calculateEigenValues">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateDeterminant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transformToTriangularUpperMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateLUDecomposition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solveLinearEquation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="transposeMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplyMatrices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateTrace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplyByScalar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sampleMatrix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMatrices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MatrixCalculatorWSImplService">
<port name="MatrixCalculatorWSImplPort" binding="tns:MatrixCalculatorWSImplPortBinding">
<soap:address location="http://kw-lap:8080/MatrixCalculator/MatrixCalculatorWSImplService"/>
</port>
</service>
</definitions>